<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Us</title>
</head>
<body>
   <div class="about-section">
    <h1>About Us Page</h1>
    <p>This is an <span ><a href="/" style="color:orange;text-decoration: none;">To-Do List</a> </span> App</p>
    <p>Made using HTML & Node.js<p>
  </div>
  
<br><br>
  
    <div class="column">
      <div class="card">
        <img src="adi.jpg" alt="Adithya" style="width:100%">
        <div class="container">
          <h2>Adithya Mittapally</h2>
          <p class="title">Developer</p>
          <p>Hii,
            I am a Full-Stack Developer.<br>
          </p><p>Visit Our Website - <a href="/myweb" target="_blank" style="text-decoration:none;font-weight: bold;">Click Here</a>
          </p>
          <p>If you having any queries
          </p>
          <p style="font-weight: bold;"><i style="font-size: 1.2rem;" class="fa">&#xf0e0;</i> contactme.adithya@gmail.com</p>
          <p ><button class="button"><a id='contact' href="/contact" target="_blank" style="font-size:1.2rem;">Contact Me</a></button></p>
        </div>
      </div>
    </div>
  
    <br><br>
 
<p style="color:rgb(0, 0, 0);text-align: center;bottom: 4%;">© 2022 Adithya Creation, Inc</p>
</body>
</html>

